@keyframes rotation {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}

body {
    background-image: url(Untitled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:  "Comic Sans MS", "Comic Sans", cursive;;
}

.big-container {
    width: 900px;
    background-color: rgb(255,255,255,50%) ;
    margin-left: auto;
    border: 1em double yellow;
}

.title {
    background-color: red;
    text-align: right;
}

.hidden {
    background-color: black;
}

.hidden:hover {
    color: brown;
    text-align: center;
}

.right {
 text-align: end;
}

.middle {
    text-align: center;
}

.highlight {
    position: relative;
    top: -5px;
    display: inline-block   ;
    background-color: green;
}

.highlight:hover {
    animation-name: rotation;
    animation-duration: 2s;
}

.red {
    background-color: pink;
}